<!DOCTYPE html>
<html>
<head>
	<title>Searching SCOTUS</title>

<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/skeleton.css">
<link rel="stylesheet" href="/static/custom.css">
	
<style>
.collapsible a {
  color: #1094BC; 
}
.collapsible a:hover {
  color: #0C6F8D; 
}
</style>
	
</head>
<body>
	<div class="container">
	<h1 class="title">Search SCOTUS Opinions for SLS Mentions</h1>
	<div class="row">
	<div class="one-half column">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset>
					<div>
						{{ form.start_date.label }}
						{% if form.start_date.errors %}
							{{ form.start_date }}
							<div>
								{% for error in form.start_date.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.start_date }}
						{% endif %}				
					</div>
					<div>
						{{ form.end_date.label }}
						{% if form.end_date.errors %}
							{{ form.end_date }}
							<div>
								{% for error in form.end_date.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.end_date }}
						{% endif %}
					</div>
				</fieldset>
				<div class="button-primary">
					{{ form.submit }}
				</div>
			</form>
	</div>
	<div class="one-half column">
		<p>Please do not search large date ranges - it will only return up to 20 cases anyway. If you get 20 results, or if you know there are more than 20 cases in the range you're searching, break up your search into smaller subsets of the range to ensure you get all cases.</p>
	
		<p>This tool searches across all opinions in a case, including dissents and concurrences. It doesn't (yet?) indicate the opinion or page number of a match. If you get a potential match, pull up the opinion PDF and use CTRL+F to identify the section containing the citation.</p>
	
		<p>This tool does not search the text of briefs. If the search results indicate a brief has been cited, pull that brief from <a href="https://www.scotusblog.com/">SCOTUSblog</a> to check if it was filed by or on behalf of any SLS faculty or clinics.</p>
	</div>
	</div>
	<ul>
		{% if cases %}
			<h3>Opinions ({{ cases|length }} results):</h3>
		{% endif %}

		{% if not cases and request.method == 'POST' %}
			<h4>No opinions in date range.</h4>
		{% endif %}

		{% for case in cases %}

			<h5 class="collapsible"><a href='{{ cases[case].download_url }}'>{{ cases[case].case_name }}</a>, filed {{ cases[case].date_filed }}</h5>
			<div class="content">

			<h5>Search results:</h5>

			{% if(cases[case].check_matches()) %}
				<li>No matches.</li>
			{% endif %}

			{% for term in cases[case].matches %}
				{% if cases[case].matches[term] %}
					<li style="font-weight:bold">{{ term }}: </li>
					<ul>
						{% for match in cases[case].matches[term] %}
							<li>"...{{ cases[case].opinion_text[match[0]-150:match[1]+150].replace(term, '<b>' + term + '</b>')|safe }}..."</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</div>
			<hr>
		{% endfor %}

	</ul>
	</div>


	<!-- Javascript for collapsible search results -->
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var content = this.nextElementSibling;
	    if (content.style.display === "block") {
	      content.style.display = "none";
	    } else {
	      content.style.display = "block";
	    }
	  });
	}
	</script>	
</body>
</html>
